*{
	box-sizing: border-box;
	transition: max-height 0.7s ease-in-out;
}

html{
	margin: 0;
	height: 100%;
	font-family: "Century Gothic", Verdana, Arial, sans-serif;
}

[class*="col-"] {
    float: left;
    padding: 5px;
    border: 0px;
    width: 100%
}

@media only screen and (min-width: 725px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    #menu-toggle{
    	display: none;
    }
    #top-nav{
    	height: auto;
    	max-height: 300px;
    	width: 100%;
		margin:auto;
    }
    #top-nav li{
    	padding: 0px 20px;
		margin:0px;
		list-style-type: none;
		float: left;
		position: relative;
    }

}

@media only screen and (min-width: 769px) {
    /* For desktops: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	#logo{
    	display:none;
    }
}

.row:after{
	content: "";
	clear: both;
	display: block;
}

.no-padding{
	padding: 0px;
}

.extra-padding{
	padding: 15px;
}

.container{
	margin:auto;
	height:100%;
	-webkit-align-self:center;
	align-self: center;
	background-color: #ffffff;
}

.container75{
	width: 75%;
	margin:auto;
	height:100%;
	background-color: #ffffff;
}

header{
	padding:20px 10px;
	font-size: 1.5em;	
	background: linear-gradient(top, #D048DA 0%, #B428BE 100%);  
	background: -moz-linear-gradient(top, #D048DA 0%, #B428BE 100%); 
	background: -webkit-linear-gradient(top, #D048DA 0%,#B428BE 100%); 
}

header a{
	text-decoration: none;
	color: #FFFFFF;
	cursor:pointer;
}
	header a:hover{
		color:#8CEC30;
		cursor:pointer;
	}

nav{
	max-height: 0px;
	overflow: hidden;
}

	nav.active{
		height: auto;
		max-height: 600px;
	}

nav li{
	text-transform: uppercase;
	position: relative;
	padding: 20px;

}

ul{
	padding: 0px;
}

#sidebar-top{
	background-color: #9B0BA5;
	text-transform: uppercase;
	color: white;
	padding: 5px;
	border-bottom: 3px groove grey;
}
.sidebar{
	list-style-type: none;
	float:left;
	background-color: #DADADA;
	padding: 0px;
}
	.sidebar li{
		padding: 5px;
	}
	.sidebar a{
		padding: 5px;
		text-decoration: none;
		color: black;
	}

.logo-img{
		height: 100%;
		width: 100%;
}

.imageWrap{
	width: 100%;
}
	.imageWrap:hover{
		border: 3px inset lightgrey;
	}

.img-desc{
	text-align: center;
	background-color: #e6e6e6;
	width: 100%;
	height: 100%;
	border: 2px groove grey
}

.bottom-bar{
	background-color: #e6e6e6;
}

.copy_footer{
	font-size: 75%;
	border-top: 1px 
}

.link-list{
	text-decoration: none;
	color:black;
	padding: none;
	margin: auto;
	list-style-type: none;
}
	.link-list:hover{
		text-decoration: underline;
	}

.title{
	text-transform: uppercase;
}
.para{
	font-size: 150%;
	display: block;
}
#box{
	max-height: 100px;
	height: 100%;
	background: linear-gradient(top, #D048DA 0%, #B428BE 100%);  
	background: -moz-linear-gradient(top, #D048DA 0%, #B428BE 100%); 
	background: -webkit-linear-gradient(top, #D048DA 0%,#B428BE 100%); 
}